---
layout: default
---
<link rel="stylesheet" type="text/css" href="{{ '/static/css/article-list.css' | prepend: site.baseurl | prepend: site.url}}" />

<div class="row index">
  <div class="col-sm-10 col-sm-offset-1 col-lg-9 col-lg-offset-1_5">
      <div>
        <section class="category-slice" post-cate="All">
          {% for post in paginator.posts %}
            <article>
                <header>
                    <a href="{{ site.baseurl | prepend: site.url  }}/archive/#{{ post.date | date: '%Y-%m-%d' }}"><svg fill="#666666" xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"/></svg>&nbsp;<span>{{ post.date | date: "%Y-%m-%d" }}</span></a>
                </header>
                <div class="module">
                  
                  <a class="title" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl | prepend: site.url }}{% endif %}">
                      {{ post.title }}
                      {% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}
                  </a>
                  
                  <p>{% if post.excerpt.size > 32 %}{{ post.excerpt }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 160 }}{% endif %}</p>
                  <a class="readmore" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl | prepend: site.url }}{% endif %}
                  ">{% if post.link %}External Link{% else %}Read More{% endif %}</a>
                  <footer>
                      {% for tag in post.tags %}
                      <a class="word-keep" href="{{ site.baseurl | prepend: site.url }}/tags/#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                      {% endfor %}
                      <!-- <span class="word-keep pull-right">
                         <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#post-comment"><span class="octicon octicon-comment"></span>&nbsp;Comment</a>
                          <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}#post-share"><span class="octicon octicon-file-symlink-file"></span>&nbsp;Share</a>
                      </span> -->
                  </footer>
                </div>
            </article>
          {% endfor %}
        </section>

          <div class="pad-mid"></div>

          <nav class="text-center">
              <ul class="pagination">
                {% if paginator.total_pages > 1 %}
                  {% if paginator.previous_page %}
                        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  {% endif %}
                  {% for page in (1..paginator.total_pages) %}
                      {% if page == paginator.page %}
                        <li class="active"><span>{{ page }}</span></li>
                      {% elsif page == 1 %}
                        <li><a href="{{ '/' | prepend: site.baseurl | prepend: site.url  }}">{{ page }}</a></li>
                      {% else %}
                        <li><a href="{{ page |  prepend: '/page/' | prepend: site.baseurl | prepend: site.url }}">{{ page }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                  {% endif %}
                {% endif %}
              </ul>
          </nav>
      </div>
  </div>
</div>