---
layout: page
title: Tag
permalink: /tags/
icon: octicon-tag
isNavItem: true
styles: [tagCloud.css,tags.css]
scripts: [tagCloud.js]
---

<div class="container-fluid">
  <div class="row gap-4">
    <div class="col-lg-10 mx-auto">
      <div class="card mb-4">
        <div class="card-body">
          <div class="tagCloud mb-3">
            {% for tag in site.tags %}
            <a href="#{{ tag | first }}">{{ tag | first }}</a>
            {% endfor %}
          </div>
          <ul class="tag-box inline mb-4 d-flex flex-wrap gap-2">
            {% for tag in site.tags %}
            <li class="list-unstyled">
              <a href="#{{ tag | first }}" class="badge rounded-pill bg-primary-subtle text-primary fw-semibold px-3 py-2 d-inline-flex align-items-center" style="font-size:1rem;">
                <span class="octicon octicon-tag me-1"></span>{{ tag | first }}
                <span class="ms-2 small opacity-75">{{ tag | last | size }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% for tag in site.tags %}
          <div class="card mb-3">
            <div class="card-body">
              <h2 id="{{ tag | first }}">{{ tag | first }}</h2>
              <ul class="list-group list-group-flush">
                {% for posts in tag  %}{% for post in posts %}{% if post.title != null %}
                <li class="list-group-item d-flex align-items-center gap-2" itemscope>
                  <span class="entry-date text-muted small me-2" title="Published on">
                    <span class="octicon octicon-clock"></span>
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>
                  </span>
                  <span class="flex-grow-1">
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" class="fw-semibold text-decoration-none" itemprop="url">
                      {{ post.title }}
                      {% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}
                    </a>
                  </span>
                </li>
                {% endif %}{% endfor %}{% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


